body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(images/takashi-miyazaki-q2bHGRyJH64-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-size: 40px;
}

/* landing page */

#content {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

h1 {
  color: white;
  font-weight: bold;
  margin: auto;
  text-align: center;
  font-size: 1.25em;
}
#tag-section {
  margin: auto;
  width: 100%;
  padding: 10px;
  position: relative;
  left: 25%;
}
/* star animation */

/* Floating Action Button */

#toggle {
  -webkit-appearance: none;
}

.button {
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  background: rgb(80, 53, 131);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 50px;
}

.button:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  transform: rotate(90deg);
  transition: all 0.4s ease;
}
.button:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease;
}

.nav-container {
  position: absolute;
  z-index: 999;
  width: 60px;
  height: 60px;
  background: rgb(80, 53, 131);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 50px;
}

.nav-container:hover {
  background: gray;
}

.nav-container i {
  color: white;
}

.nav {
  opacity: 1;
  transition: all 0.4s ease-in-out;
  background: #fff;
  border-radius: 5px;
  transform: translateY(10%);
  box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
  border: 1px solid #e4e4e4;
  position: absolute;
  display: flex;
  bottom: 50px;
  right: 110px;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 25%;
  flex-direction: row;
}

.btn-primary {
  border: none;
  background: none;
  color: rgb(80, 53, 131);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  box-shadow: none;
}

.btn-primary:hover {
  color: blue;
  background: #fff;
  outline: none;
  box-shadow: none;
}

.btn-primary:focus {
  background: #fff;
  text-decoration: none;
  color: blue;
  outline: none;
  box-shadow: none;
}

.nav a {
  text-align: center;
  margin: 20px 15px;
  color: rgb(80, 53, 131);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.nav a:hover {
  color: blue;
}

#toggle:checked ~ .nav {
  opacity: 0;
  transform: translateY(0%);
}

#toggle:checked ~ .button:before {
  transform: rotate(225deg);
}

#toggle:checked ~ .button:after {
  transform: rotate(135deg);
}

/* header*/

#about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.75em;
  max-width: 100%;
  font-size: 0.38em;
}

.bio {
  color: rgb(68, 65, 65);
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  margin-left: 1em;
  display: block;
}

.btn-close {
  font-size: 0.5em;
}
.modal-content {
  border-radius: 20px;
  background-image: linear-gradient(
    45deg,
    rgb(80, 53, 131),
    white,
    rgb(19, 19, 128)
  );
}
.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.image {
  flex-basis: 15%;
  display: flex;
  padding-left: 1em;
  padding-bottom: 1.5em;
  border-radius: 50%;
}

.image img {
  border-radius: 50%;
}

.grid-3 li {
  list-style-type: none;
  float: left;
  padding: 10px;
}

/*Projects Page*/

#myCarousel {
  margin-top: 50px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.h3 {
  color: black;
  font-size: 1.25em;
}

.p {
  color: black;
  font-size: 0.5em;
}

.html {
  background-color: orange;
  font-size: 0.25em;
}

.css {
  background-color: blue;
  font-size: 0.25em;
}

.js {
  background-color: yellow;
  font-size: 0.25em;
}

.bs {
  background-color: purple;
  font-size: 0.25em;
}

.carousel-caption li {
  list-style: none;
  display: block;
  float: left;
  margin-right: 10px;
}

.carousel .carousel-indicators li {
  background-color: gray;
}

.container h2 {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-top: 100px;
}

/* Fixed/Contact Icon Bar */

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
  background-color: white;
}

.icon-bar a:hover {
  background-color: gray;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 0.75em;
  }

  #content {
    margin: 0px;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1135px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .grid-3 {
    display: flex;
    flex-direction: column;
  }

  .container h2 {
    font-size: 1em;
  }
  .h3 {
    font-size: 0.75em;
  }

  .p {
    font-size: 0.25em;
  }

  .html {
    font-size: 0.12em;
  }

  .css {
    font-size: 0.12em;
  }

  .js {
    font-size: 0.12em;
  }

  .bs {
    font-size: 0.12em;
  }

  #icon-bar {
    position: relative;
    top: 21%;
    float: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 767px) {
  .h3 {
    font-size: 0.5em;
  }

  .p {
    font-size: 0.12em;
  }

  .html {
    font-size: 0.12em;
  }

  .css {
    font-size: 0.12em;
  }

  .js {
    font-size: 0.12em;
  }

  .bs {
    font-size: 0.12em;
  }
}

@media screen and (max-width: 359px) {
  #nav ul {
    display: flex;
    flex-direction: column;
  }
}
