body { 
  background-color: #616A6B;
  margin: 0;
  padding: 0;
}

/* landing page */

#content {
  background-image: linear-gradient(#212F3D,#616A6B,#212F3D);
  margin: auto;
  position:relative;
  text-align:center;
  height: 100%;
  display:flex;
  flex: 1 1 50%;
  width: 100%; 
}

h1 {
  font-family:rockwell;
  color: black;
  font-size: 2em;
  margin: auto;
}


/* header*/

#nav {
  margin-top: 2.5rem;

}
.topnav {
  background-color: #616A6B;
}
#nav-bar {
  display: block;
  right: 1em;
  top: .5em;
  position: absolute;
}

.nav-link{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-right: .75em;
  font-family: rockwell;
  cursor: pointer;
}
/* about me section */

#about {
  width: 100%;
  background-color: #FFFFBF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 18px 20px 20px;
  max-width: 82em;
}

.bio {
  color: gray;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  margin-left: 1em;
  display: block;
 
}

.image {
  flex-basis: 15%;
  display: flex;
}

#about li {
  list-style-type: none;
  float: left;
  padding: 10px;

}
/* project section */
#project-header {
  grid-area: header;
}

#fav-fonts {
  grid-area: one;
}

#mortgage-calculator {
  grid-area: two;
}

#projects {
  background-image: linear-gradient(45deg, turquoise,#616A6B, turquoise);
  width: 100%;
  
}

#project-header h2 {
  display: flex;
  text-align: center;
  color: white;
  font-family: rockwell;
  margin-right: auto;
  margin-left: auto;
}

#projects .cell {
  max-width: 50%;
  display: flex;
  flex-direction: column;

}

#projects img {
  max-width: 100%;
  display: block;
   
}

#projects img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

#projects p {
  max-width: 100%;
  text-align: center;
  display: block;
  font-family: rockwell;
  color: white;
  font-weight: bold;
  padding-top: .5em;
  padding-bottom: .5em;
  
}

#projects a {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: rockwell;
  color:  turquoise;
  border: 1px solid darkslategray;
  padding: .5em;
  margin-bottom: .5em;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
  background-color: white;
}

#projects a:hover {
  color: white;
  background-color: turquoise;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

/*contact section*/
#contact{
  width: 100%;
  background-color: #FFFFBF;
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  text-align: center;
  display: flex;
  padding: 20px 0px 20px 20px;
  justify-content: center;
}

#interest {
  padding-bottom: 40px;
  color: #212F3D;
}

#contact-header {
  display: block;
}

#contact-list {
font-size: 1.25em;
text-decoration: none;
}

#contact-icons {
  display: block;
  padding-bottom: 40px;
}

#tea {
  color: #616A6B;
  text-align: center;
  
}
@media screen and (max-width: 1024px) {
  .grid-3 {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1.5em;
  }
  
  #content{
    margin: 0px;
  }

}
@media(min-width: 1135px) {
.grid {
  display: flex;
  flex-direction: column;
  }

#projects {
  display: grid;
  grid-template-areas:
    'header header header header'
    'one two . .';

}
}