body {
  background-image: linear-gradient(#212F3D,#616A6B,#212F3D)
}

/* landing page */

#content {
  background-color: transparent;
  margin: auto;
  position:relative;
  text-align:center;
  border-radius: 100px/50px;
  height: 100%;
  display:flex;
  min-height: 100vh;
  
}

h1 {
  font-family:rockwell;
  color: black;
  font-size: 2em;
  margin: auto;
}


/* header*/
.topnav {
  overflow: hidden;
  background-color: transparent;
  position: relative;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav #nav-bar {
  display: none;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

/* about me section */

#about {
  width: 100%;
  background-color: #FFFFBF;
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 20px;
  max-width: 82em;
}

.bio {
  color: gray;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  margin-left: 1em;
  display: block;
 
}

.image {
  flex-basis: 15%;
  display: flex;
}

#about li {
  list-style-type: none;
  float: left;
  padding: 10px;

}
/* project section */

#projects {
  background-color: transparent;
  width: 100%;
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  display: flex;
  padding: 20px 0px 20px 20px;
  justify-content: center;
}

/*contact section*/
#contact{
  width: 100%;
  background-color: #FFFFBF;
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  text-align: center;
  display: flex;
  padding: 20px 0px 20px 20px;
  justify-content: center;
}

#interest {
  padding-bottom: 40px;
  color: #212F3D;
}

#contact-header {
  display: block;
}

#contact-list {
font-size: 1.25em;
text-decoration: none;
}

#contact-icons {
  display: block;
  padding-bottom: 40px;
}

#tea {
  color: #616A6B;
  text-align: center;
  
}
@media screen and (max-width: 767px) {
  .grid-3 {
    display: flex;
    flex-direction: column;
  }
}
@media(min-width: 1135px) {
.grid {
  display: flex;
  flex-direction: column;
  }
}